#homeContainer{
    background-image: url(/assets/img/msnbg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#whiteBorderGlassBox{
    border: 2px solid rgba(255,255,255, .75);
    padding: 2px;

}

.homeHeadContainer{
    background-color: rgba(255,255,255, .50);

}

#homeAvatarPicture{
    max-width: 100px;

}
 .avatarFrameOnline{
    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: linear-gradient(135deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid white;
    display: inline block
 }

 .whiteContainerPadded{
     padding: 15px;
     background-color: whitesmoke; 
     
 }
 img.icon{
     width: 30px;
 }